body {
    margin-top: 150px;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
}

button {
    padding: 15px 35px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(151, 151, 243);
    color: aliceblue;
}

button:hover {
    background-color: rgb(198, 136, 218);
    cursor: pointer;
}